:root {
  font-size: 20px;
  font-family: "Sumana", monospace;
}
body {
  margin: 0 auto;
  max-width: 920px;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  text-align: center;
  margin: 2em 0;
}
header h1 {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.1em;
}
.contact {
  opacity: 1;
  transition: 1s opacity;
  position: fixed;
  right: 1em;
  top: 1em;
  background-color: white;
}
.contact.scrolled {
  opacity: 0;
}
.contact ul {
  text-align: right;
}
.summary {}

.summary h1,
.work-experience h1,
.summary-expertise h3,
.summary-experience h3 {
  display: inline-block;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0.5em;
  margin: 0.5em 0;
  border-top: 2px solid green;
  border-left: 2px solid green;
}
.summary h1,
.work-experience h1 {
  font-size: 1.6em;
}
.summary-cloud {
  display: flex;
  flex-wrap: wrap;
}
.summary-cloud li {
  flex-basis: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-cloud img {
  width: 50%;
}
.summary-cloud img.vim {
  width: 40%;
}
li.web {
  flex-basis: 100%;
}  
.web img {
  width: 70%;
}
.summary-points li:not(:last-child) {
  margin-bottom: 1em;
}
.summary-points {
  margin-top: 1em;
}
.summary-points,
.summary-expertise, 
.summary-experience {
  padding: 1em 0;
}
.summary-expertise ol {
  white-space: nowrap;
}
.summary-expertise,
.summary-experience {
  counter-reset: marker -1;
}
.summary-expertise li::before {
  content: counter(marker) " ";
  counter-increment: marker;
  display: inline-block;
  width: 1.3em;
  float: left;
}
.position {
  padding-bottom: 1em; 
}
.company img {
  width: 10em;
}
.position .summary, .summary-points {
  font-family: "Inconsolata", serif;
  font-weight: bold;
}
.position .summary {
  margin: 1em 0;
}
.position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.position .company {
  margin: 1em 0 0.2em;
}
/* the first company name shouldn't have so much space between it and the "Work Experience" label */
.work-experience h1 + .position .company {
  margin-top: 0;
}
.position .role {
  margin-top: 1em;
  display: inline-block;
  padding: 0.5em;
  border: 0.1em ridge black;
}
.position ul {
  align-self: left;
}
.event {
  padding: 0.625em;
  border-left: 0.625em solid gainsboro;
}
